@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a,
input,
textarea {
  outline: none;
}

@font-face {
  font-family: "MicrosoftSansSerif";
  src: url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.eot");
  src: local("☺"), url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.woff") format("woff"), url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.ttf") format("truetype"), url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AgencyFB-Bold";
  src: url("../fonts/AgencyFB-Bold/AgencyFB-Bold.eot");
  src: local("☺"), url("../fonts/AgencyFB-Bold/AgencyFB-Bold.woff") format("woff"), url("../fonts/AgencyFB-Bold/AgencyFB-Bold.ttf") format("truetype"), url("../fonts/AgencyFB-Bold/AgencyFB-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue-Thin";
  src: url("../fonts/BebasNeue-Thin/BebasNeue-Thin.eot");
  src: local("☺"), url("../fonts/BebasNeue-Thin/BebasNeue-Thin.woff") format("woff"), url("../fonts/BebasNeue-Thin/BebasNeue-Thin.ttf") format("truetype"), url("../fonts/BebasNeue-Thin/BebasNeue-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueLight";
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: local("☺"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype"), url("../fonts/BebasNeueLight/BebasNeueLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueBook";
  src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
  src: local("☺"), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format("truetype"), url("../fonts/BebasNeueBook/BebasNeueBook.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: local("☺"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeueBold/BebasNeueBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header-main {
  background: url("../img/hm-bg.jpg") no-repeat center;
  background-size: cover;
  font-family: "BebasNeueBold";
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-main .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-main_inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.header-main_inner .header-main_item:first-child {
  max-width: 490px;
  width: 100%;
}

@media (max-width: 992px) {
  .header-main_inner .header-main_item:first-child {
    display: none;
  }
}

.header-main_item:last-child {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .header-main_item:last-child {
    margin-left: auto;
  }
}

.header-main_logo {
  max-width: 520px;
  margin-top: 15px;
  width: 100%;
  font-family: "AgencyFB-Bold";
  font-size: 86px;
  text-transform: uppercase;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.38);
  color: #ffffff;
  line-height: 115px;
}

@media (max-width: 992px) {
  .header-main_logo {
    line-height: 83px;
    margin-top: 80px;
  }
}

.header-main_logo .main-logo {
  position: relative;
  top: 15px;
  display: none;
}

.header-main_actions {
  color: white;
  display: inline-block;
  position: relative;
  font-size: 24px;
  padding: 10px 24px 6px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.header-main_actions:hover {
  background: white;
  color: #30B5E3;
}

.header-main_actions:hover:after {
  border-top: 10px solid white;
}

.header-main_actions span {
  position: absolute;
  width: 52px;
  height: 1px;
  background: white;
  display: inline-block;
  bottom: -5px;
}

.header-main_actions .line-l {
  left: 0;
  transform: rotate(11deg);
}

.header-main_actions .line-r {
  right: 0;
  transform: rotate(-11deg);
}

.header-main_actions:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.header-main_phone {
  padding-top: 7px;
}

.header-main_phone a {
  font-family: "BebasNeueBold";
  color: rebeccapurple;
  font-size: 24px;
  text-decoration: none;
}

@media (max-width: 992px) {
  .header-main_phone a {
    font-size: 18px;
    padding-left: 15px;
    display: inline-block;
  }
}

.header-main_phone a span {
  color: white;
}

.header-main_phone:hover a {
  color: white;
}

.header-main_burger {
  margin-left: 45px;
  margin-top: 6px;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(3) {
  width: 20px;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateX(6px) rotate(42deg);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateX(6px) rotate(-42deg);
}

nav a {
  display: inline-block;
  padding-top: 15px;
  position: relative;
  padding-bottom: 5px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

nav ul {
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

@media (max-width: 992px) {
  nav {
    display: none;
  }
}

.arrow-mob {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  bottom: 30%;
}

@media (min-width: 992px) {
  .arrow-mob {
    display: none;
  }
}

.btn-link:hover:after {
  transition: all 0.3s ease;
  width: 100%;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.btn-link:after {
  position: absolute;
  transition: all 0.3s ease;
  content: '';
  width: 0;
  bottom: 0;
  left: inherit;
  right: 0;
  height: 3px;
  background: white;
}

.hidden-menu {
  position: absolute;
  max-width: 380px;
  background: white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: 100vh;
  right: -500px;
  top: 0;
  z-index: 100;
  transition: 0.5s;
}

.hidden-menu_item:first-child {
  position: relative;
  padding-top: 14px;
  padding-left: 28px;
  background: black;
}

.hidden-menu_item:first-child .hamburger {
  position: absolute;
  right: 14px;
  top: 14px;
}

.hidden-menu_item:nth-child(2), .hidden-menu_item:nth-child(3) {
  background: white;
}

.hidden-menu_item:nth-child(3) {
  margin-top: auto;
}

.hidden-menu_item:nth-child(2) {
  padding-top: 19px;
}

.hidden-menu_item:nth-child(2) .hidden-menu_nav:first-child {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.hidden-menu_item:nth-child(2) .hidden-menu_nav:first-child:after {
  content: "";
  position: absolute;
  width: 89px;
  height: 1px;
  background: rgba(206, 206, 206, 0.97);
  bottom: 0;
  left: 31px;
}

.hidden-menu_social {
  padding-left: 50px;
  max-width: 170px;
  width: 100%;
  padding-bottom: 25px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden-menu_nav li {
  position: relative;
}

.hidden-menu_nav li:hover:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/menu-str.png") no-repeat center;
  width: 20px;
  height: 15px;
}

.hidden-menu_nav a {
  font-family: "BebasNeueBold";
  display: inline-block;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  color: #B7B7B7;
  padding: 14px 0 14px 50px;
}

.hidden-menu_nav a:hover {
  color: #080b0e;
  background: #EAEAEA;
}

.hidden-menu_phone {
  font-family: "BebasNeueBold";
  font-size: 24px;
  color: #00c6ff;
  text-transform: uppercase;
  text-decoration: none;
}

.hidden-menu_phone span {
  color: white;
}

.hidden-menu_search {
  margin-bottom: 6px;
}

.hidden-menu_links li {
  padding-bottom: 13px;
}

.hidden-menu_links a {
  font-family: "BebasNeueBold";
  font-size: 20px;
  text-transform: uppercase;
  color: #3f3d3e;
}

.hidden-menu.nav-show {
  right: 0;
}

@media (max-width: 992px) {
  .header-main_search__item {
    display: none;
  }
}

.header-main_search__item,
.search-menu {
  position: relative;
  margin: 15px 0 10px;
  overflow: hidden;
  max-width: 200px;
  width: 100%;
}

.header-main_search__item:before,
.search-menu:before {
  content: '';
  position: absolute;
  left: -400px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  transition: 0.5s;
}

.header-main_search__item:after,
.search-menu:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: url("../img/lupa.png") no-repeat center;
  transition: 0.5s;
}

.header-main_search__item input,
.search-menu input {
  background: none;
  width: 100%;
  outline: none;
  border: none;
  color: white;
}

.header-main_search__item {
  width: 50px;
  margin-left: 25px;
  transition: 0.5s;
}

.header-main_search__item.active {
  width: 200px;
  margin-right: 15px;
}

.header-main_search__item.active:after {
  left: -100px;
}

.header-main_search__item.active:before {
  left: 0;
}

.search-menu.active:after {
  left: -100px;
}

.search-menu.active:before {
  left: 0;
}

.header-main_link {
  border-top: 1px solid white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

@media (max-width: 992px) {
  .header-main_link {
    display: none;
  }
}

.header-main_link a {
  text-align: center;
  font-family: "BebasNeueBold";
  position: relative;
  display: inline-block;
  width: 20%;
  height: 122px;
  padding-top: 20px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  transition: 0.5s;
}

.header-main_link a:after {
  content: "";
  position: absolute;
  bottom: 20px;
  height: 1px;
  width: 80%;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}

.header-main_link a:hover {
  background: #080506;
}

.header-main_link a:not(:last-child) {
  border-right: 1px solid white;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 80%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.footer p, .footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #aeaeae;
}

.footer .ipos-link img {
  position: relative;
  top: 2px;
}

.footer .ipos-link span:first-child {
  display: inline-block;
  margin-right: 15px;
}

.footer .ipos-link:hover {
  color: black;
}

.footer h3 {
  font-family: "BebasNeueBold";
  font-size: 30px;
  color: #080506;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-contact_info {
  color: #080506;
}

.footer-contact_info p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #080506;
}

.footer-contact_info span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
}

.footer-item:first-child {
  background: #080506;
  padding: 35px 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-item:first-child {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .footer-item:first-child .footer-nav_block:first-child {
    margin-right: 100px;
  }
}

@media (min-width: 992px) {
  .footer-item:first-child {
    width: 75%;
    padding-top: 90px;
  }
  .footer-item:first-child .footer-nav_block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: baseline;
  }
  .footer-item:first-child .footer-nav_block .footer-nav {
    margin-right: 66px;
  }
}

.footer-item:last-child {
  padding-top: 35px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  .footer-item:last-child {
    width: 25%;
    padding-top: 90px;
    align-items: flex-start;
  }
  .footer-item:last-child .footer-item_inner {
    width: 100%;
  }
  .footer-item:last-child .footer-item_inner div {
    padding-left: 50px;
  }
}

.footer-nav {
  padding-bottom: 15px;
}

.footer-nav li {
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .footer-nav li {
    margin-bottom: 36px;
  }
}

.footer-nav a {
  font-family: "BebasNeueBold";
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.footer-links {
  padding-bottom: 15px;
}

.footer-links li {
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .footer-links li {
    margin-bottom: 17px;
  }
}

.footer-links a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: inline-block;
  position: relative;
  color: #4A4949;
  font-size: 12px;
}

.footer-links a:hover {
  color: white;
}

@media (min-width: 992px) {
  .footer-links a:hover:after {
    content: "";
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 15px;
    background: url("../img/str-menu.png") no-repeat center;
  }
}

@media (min-width: 992px) {
  .footer {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }
}

.footer-contact_title {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
}

.footer-contact_info {
  padding-top: 21px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 21px;
}

.footer-contact_info span {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 20px;
}

.footer-social {
  max-width: 120px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.footer-copyright {
  padding-bottom: 30px;
}

.footer-copyright p {
  margin-bottom: 15px;
}

/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border-radius: 0;
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  margin-left: 5px;
}

.selectric:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #3D3D3D;
  z-index: 1;
}

.selectric .label {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric .button {
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #3D3D3D;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: #aaaaaa;
}

.selectric-hover .selectric {
  border-color: #c4c4c4;
}

.selectric-hover .selectric .button {
  color: #a2a2a2;
}

.selectric-hover .selectric .button:after {
  border-top-color: #a2a2a2;
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: #c4c4c4;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #3D3D3D;
  z-index: 10;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items li,
.selectric-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 6px;
  font-size: 17px;
  cursor: pointer;
}

.selectric-items li.selected {
  background: white;
}

.selectric-items li.highlighted {
  background: white;
}

.selectric-items li:hover {
  background: white;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}
