extends layout.pug
block vars
	- var title = 'О компании';
block header
	include includes/header-company.pug
block content
	include includes/content-company.pug
block footer
	include includes/footer.pug
