extends layout.pug
block vars
	- var title = 'Геологоразведочный инструмент и оборудование ';
block header
	include includes/header-page.pug
block content
	include includes/content-page.pug
block footer
	include includes/footer.pug
