extends layout.pug
block vars
	- var title = 'Наши партнеры';
block header
	include includes/header-partners.pug
block content
	include includes/content-partners.pug
block footer
	include includes/footer.pug
