extends layout.pug
block vars
	- var title = 'Страница товаров';
block header
	include includes/header-product-list.pug
block content
	include includes/content-product-list.pug
block footer
	include includes/footer.pug
