.contactGallery-wrap
	.owl-carousel.contactGallery
		.item
			.contactGallery-box
				a(href="#sklad-krasnoyarsk")
					img(src="img/sklad.jpg")
					.contactGallery-article
						p склад
						p ООО "СЕНКРУС" <br>г. Красноярск
					.contactGallery-hidden
						.contactGallery-hidden_item
							p ООО "СЕНКРУС" 
							span Адрес местонахождения<br> фактический (почтовый)
						.contactGallery-hidden_item
							p 
								em г. екатеринбург<br>
								|ул.Ткачей 23, оф.503
						.contactGallery-hidden_item
							p Тел./факс: <br>+7 (343) 2-870-666
						.contactGallery-hidden_item
							span 620100 Бизнес Комплекс <br>"Клевер-парк"
		.item
			.contactGallery-box
				a(href="#office-krasnoyarsk")
					img(src="img/office-1.jpg")
					.contactGallery-article
						p офис
						p ООО "СЕНКРУС" <br>г. Красноярск
					.contactGallery-hidden
						.contactGallery-hidden_item
							p ООО "СЕНКРУС" 
							span Адрес местонахождения<br> фактический (почтовый)
						.contactGallery-hidden_item
							p 
								em г. екатеринбург<br>
								|ул.Ткачей 23, оф.503
						.contactGallery-hidden_item
							p Тел./факс: <br>+7 (343) 2-870-666
						.contactGallery-hidden_item
							span 620100 Бизнес Комплекс <br>"Клевер-парк"			
		.item
			.contactGallery-box.active
				a(href="#office-ekaterinburg").active
					img(src="img/office-2.jpg")
					.contactGallery-article
						p офис
						p ООО "СЕНКРУС" <br>г. Екатеринбург
					.contactGallery-hidden
						.contactGallery-hidden_item
							p ООО "СЕНКРУС" 
							span Адрес местонахождения<br> фактический (почтовый)
						.contactGallery-hidden_item
							p 
								em г. екатеринбург<br>
								|ул.Ткачей 23, оф.503
						.contactGallery-hidden_item
							p Тел./факс: <br>+7 (343) 2-870-666
						.contactGallery-hidden_item
							span 620100 Бизнес Комплекс <br>"Клевер-парк"			
		.item
			.contactGallery-box
				a(href="#sklad-ekaterinburg")
					img(src="img/sklad.jpg")
					.contactGallery-article
						p склад
						p ООО "СЕНКРУС" <br>г. Екатеринбург
					.contactGallery-hidden
						.contactGallery-hidden_item
							p ООО "СЕНКРУС" 
							span Адрес местонахождения<br> фактический (почтовый)
						.contactGallery-hidden_item
							p 
								em г. екатеринбург<br>
								|ул.Ткачей 23, оф.503
						.contactGallery-hidden_item
							p Тел./факс: <br>+7 (343) 2-870-666
						.contactGallery-hidden_item
							span 620100 Бизнес Комплекс <br>"Клевер-парк"			
		.item
			.contactGallery-box
				a(href="#office-habarovsk")
					img(src="img/office-2.jpg")
					.contactGallery-article
						p офис
						p ООО "СЕНКРУС" <br>г. Хабаровск
					.contactGallery-hidden
						.contactGallery-hidden_item
							p ООО "СЕНКРУС" 
							span Адрес местонахождения<br> фактический (почтовый)
						.contactGallery-hidden_item
							p 
								em г. екатеринбург<br>
								|ул.Ткачей 23, оф.503
						.contactGallery-hidden_item
							p Тел./факс: <br>+7 (343) 2-870-666
						.contactGallery-hidden_item
							span 620100 Бизнес Комплекс <br>"Клевер-парк"

.mapTabs
	.mapTabs-item#sklad-krasnoyarsk
	.mapTabs-item#office-krasnoyarsk
	.mapTabs-item#office-ekaterinburg
	.mapTabs-item#sklad-ekaterinburg
	.mapTabs-item#office-habarovsk

.contactRecall
	.contactRecall-item
		.contactRecall-form
			form
				h2.main-title свяжитесь с нами, Наши менеджеры бесплатно проконсультируют вас
				span.contactRecall-slogan Мы поможем Вам в подборе оборудования !
				.contactRecall-form_inner
					.contactRecall-inp
						label
							input(type="text" placeholder="Имя*")
						label
							input(type="text" placeholder="Телефон*")
					.contactRecall-text
						textarea(placeholder="Добавить комментарий")
					button.btn(type="submit") Заказать обратный звонок
				.capcha
					.capcha-item
						img(src="img/capcha.png")
					.capcha-item
						p Нажав на кнопку “заказать обратный звонок” Вы соглашаетесь с условиями 
							a(href="#") публичной оферты 
							|и с условиями 
							a(href="#") Политики обработки персональных данных
	.contactRecall-item
		img(src="img/kont-img.jpg")
