.sections#sections
	.sections-item
		.sections-blur
		h2.sections-title геологоразведочный инструмент и оборудование
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    



	.sections-item
		.sections-blur
		h2.sections-title химические реагенты для бурения
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    

	.sections-item
		.sections-blur
		h2.sections-title сервис
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    

	.sections-item
		.sections-blur
		h2.sections-title оборудование для нефтедобывающей отрасли
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    

	.sections-item
		.sections-blur
		h2.sections-title раздел находится в разработке
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    
