.product-wrap
	.product
		.product-item
			.fotorama(data-nav="thumbs")
				img(src="img/productInner-img.jpg")
				img(src="img/productInner-img.jpg")
				img(src="img/productInner-img.jpg")
				img(src="img/productInner-img.jpg")
				img(src="img/productInner-img.jpg")
			.product-tabs
				.product-tabs_btn
					a(href="#product-tabs_list").btn.active Тех.Характеристики
					a(href="#product-tabs_article").btn Подробнее о товаре
				.product-tabs_inner
					.product-tabs_item#product-tabs_list
						ul.product-tabs_list
							li
								span характеристика
								span 000000
							li
								span характеристика
								span 000000
							li
								span характеристика
								span 000000
							li
								span характеристика
								span 000000
							li
								span характеристика
								span 000000
						button.product-tabs_btnShow.btn
							|Показать все характеристики		

					.product-tabs_item#product-tabs_article
						p
							|consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
						p
							|consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla	

			.product-about
				h2.main-title общая информация о товарах
				p
					|consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
					b Donec 
					|quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
				p
					|consequat massa quis enim. 
					b Donec 
					|pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum sempernisi. Aenean vulputate eleifend tellus.Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam loremante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
				p
					|viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
				p
					|blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunttempus. Donec vitae sa
				p
					|consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
				p
					|consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncusut, imperdiet a, venenatis vitae, justo. Nullam  dictum felis eu pede mollis pretium. Integer tincidunt. Cras 	

		.product-item
			h1.main-title.product-title Наименование товара
			include breadcrumbs.pug
			.product-article
				h2.main-title Краткая характеристика товара
				p
					|consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
					b Donec 
					|quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
				p
					|consequat massa quis enim. 
					b Donec 
					|pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum sempernisi. Aenean vulputate eleifend tellus.Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam loremante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
				p
					|viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
				p
					|blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunttempus. Donec vitae sa
