.partners
	.partners-item
		.boxes
			img(src="img/p1.png").da-image
			.overlay-p
		.boxes
			img(src="img/p2.png").da-image
			.overlay-p

	.partners-item
		.boxes
			img(src="img/p3.png").da-image
			.overlay-p

	.partners-item
		.boxes
			img(src="img/p4.png").da-image
			.overlay-p
		.boxes
			img(src="img/p5.png").da-image
			.overlay-p

	.partners-item
		.boxes
			img(src="img/p6.png").da-image
			.overlay-p









.anotherActions
	.main-title посмотреть новости

.actionsSlide-container
	.owl-carousel.actionsSlide
		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог

		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог	

		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог	

		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог					 		
