.sections#sections
	.sections-item
		.sections-blur
		h2.sections-title геологоразведочный инструмент и оборудование
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    



	.sections-item
		.sections-blur
		h2.sections-title химические реагенты для бурения
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    

	.sections-item
		.sections-blur
		h2.sections-title сервис
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    

	.sections-item
		.sections-blur
		h2.sections-title оборудование для нефтедобывающей отрасли
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    

	.sections-item
		.sections-blur
		h2.sections-title раздел находится в разработке
		.sections-arrow
			.sections-arrow_inner
				.arrow
		.sections-menu
			.sections-menu_item
				a(href="#").sections-menu_btn перейти в раздел
			.sections-menu_item
				ul.sections-menu_links
					li
						a(href="#") алмазный <br>инструмент
					li
						a(href="#") колонковые наборы
					li
						a(href="#") аварийный <br>инструмент
					li
						a(href="#") овершот
					li
						a(href="#") переходы
					li
						a(href="#") ключи
				ul.sections-menu_links
					li
						a(href="#") бурильные, обсадные,<br> колонковые штанги
					li
						a(href="#") вспомогательный <br>инструмент
					li
						a(href="#") адвансер
					li
						a(href="#") труборезка
					li
						a(href="#") сальник
					li
						a(href="#") пробка-вертлюг
					li
						a(href="#") долото    

.mainNews
	.mainNews-cont
		.mainNews-item
			h2.main-title О компании
			p 
				|Компания ООО «СЕНКРУС» была основана 2012 году, основным направлением было поставка шарошечных долот, инструмента и расходных запасных частей для геолого разведки. Компания стремительно развивалась и успешно зарекомендовала себя в качестве надёжного Поставщика. Для отлаженной и успешной работы ООО «СЕНКРУС» организовала централизованные склады в городах: 
				b Екатеринбург, Красноярск, Нижневартовск.

			p 
				|В 2013 году компания ООО «СЕНКРУС» начала своё плодотворное сотрудничество с компанией ООО 
				b «Технологическая Компания Шлюмберже» 
				|по направлениям поставки химических реагентов для бурения и поставки оборудования системы очистки буровых растворов, запасных частей и расходных материалов. 

			p 
				|В 2015 году была образованна Группа компаний «СЕНКРУС» состоящая из компаний 
				b ООО «СЕНКРУС» и ООО «СЕНКРУС-РАЗВИТИЕ». 
				|Дочерняя компания ООО «СЕНКРУС - РАЗВИТИЕ» была образована для развития нового направления по предоставлению услуг технологического сервиса при строительстве скважин.

			a(href="#").btn Перейти в раздел 

		.mainNews-item
			.mainNews-item_inner
				.mainNews-item_img
					a(href="#")
						img(src="img/n1-bg.jpg")
					.line-arrow
						.line-arrow_inner 
					h2.main-title Новости    
			.mainNews-item_inner
				.mainNews-item_inner__top
					.mainNews-item_img
						a(href="#")
							img(src="img/n2-bg.jpg")
					.mainNews-item_img
						a(href="#")
							img(src="img/n3-bg.jpg")
						h2.main-title Lorem ipsum <br> dolor sit
				.mainNews-item_inner__bottom
					a(href="#").main-title Lorem ipsum dolor sit amet
					p 
						b Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo dolor.<br>
						|Aenean massa. Cum sociis natoque penatibus et magnis dis parturien 
						|montes, us mus. Donec quam felis, ultricies nec 
