.mobBlock
	.mobBlock-item#hidden
		h1.main-title Наши партнеры
	.mobBlock-item
		.header-main_search
			input(type="text")

<div class="boxes">
	<img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image1.jpg">
	<div class="overlay"></div>
</div>

<div class="boxes">
	<img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image2.jpg">
	<div class="overlay"></div>
</div>

<div class="boxes">
	<img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image3.jpg">
	<div class="overlay"></div>
</div>

<div class="boxes">
	<img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image4.jpg">
	<div class="overlay"></div>
</div>

<div class="boxes">
	<img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image5.jpg">
	<div class="overlay"></div>
</div>

<div class="boxes">
	<img class="da-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24345/da_image6.jpg">
	<div class="overlay"></div>
</div>					
//- .partners
//- 	.partners-item
//- 		.boxes
//- 			img(src="img/p1.png").da-image
//- 			.overlay-p
//- 		.boxes
//- 			img(src="img/p2.png").da-image
//- 			.overlay-p
//- 
//- 	.partners-item
//- 		.boxes
//- 			img(src="img/p3.png").da-image
//- 			.overlay-p
//- 
//- 	.partners-item
//- 		.boxes
//- 			img(src="img/p4.png").da-image
//- 			.overlay-p
//- 		.boxes
//- 			img(src="img/p5.png").da-image
//- 			.overlay-p
//- 
//- 	.partners-item
//- 		.boxes
//- 			img(src="img/p6.png").da-image
//- 			.overlay-p









.anotherActions
	.main-title посмотреть новости

.actionsSlide-container
	.owl-carousel.actionsSlide
		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог

		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог	

		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог	

		.actionsSlide-item
			.actionsSlide-item_img
				img(src="img/actions-sl.jpg")
			.actionsSlide-item_article
				.actionsSlide-item_article__inner
					h2.main-title инф общая
					p Viverra nulla ut metus varius 
						b Aenean imperdiet.
				a(href="#").btn перейти в каталог					 		
