.mobBlock
	.mobBlock-item#hidden
		h1.main-title геологоразведочный инструмент и оборудование
	.mobBlock-item
		.header-main_search
			input(type="text")
.owl-carousel.pageGallery#pageGallery
	.pageGallery-item
		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p алмазный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p Бурильные, обсадные, колонковые штанги

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p колонковые наборы

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p аварийный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p овершот

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p вспомогательный<br> инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p адвансер

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p труборезка

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p сальник

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p переходы
	.pageGallery-item
		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p алмазный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p Бурильные, обсадные, колонковые штанги

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p колонковые наборы

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p аварийный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p овершот

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p вспомогательный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p адвансер

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p труборезка

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p сальник

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p переходы				
	.pageGallery-item
		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p алмазный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p Бурильные, обсадные, колонковые штанги

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p колонковые наборы

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p аварийный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p овершот

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p вспомогательный инструмент

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p адвансер

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p труборезка

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p сальник

		.pageGallery-inner
			a(href="#")
				.pageGallery-overlay
				.pageGallery-img
					img(src="img/page-sl-1.jpg")
				.pageGallery-article
					p переходы				
.pageContent
	.pageContent-item
		.pageContent-container
			h2.main-title геологоразведочный инструмент  это
			p
				|consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
			p
				|consequat massa quis enim. 
				b
					|Donec pede 
				|justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum sempernisi. Aenean vulputate eleifend tellus.Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus	 
	.pageContent-item
		.pageContent-container
			h2.main-title геологоразведочный оборудование  это
			p
				|consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
			p
				|consequat massa quis enim. 
				b 
					|Donec pede justo, 
				|fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum sempernisi. Aenean vulputate eleifend tellus.Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus	 
