.catalogList-wrap.productList-wrap
	.mobBlock
		.mobBlock-item#hidden
			h1.main-title Перечень товаров
		.mobBlock-item
			.header-main_search
				input(type="text")

	.linkToCat
		a(href="#") вернуться к выбору типа продукции
	.catalogList
		.catalogList-item
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел 
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел  
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел  
		.catalogList-item
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел 
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел  
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел   

		.catalogList-item
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел 
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел  
			.catalogList-box
				.catalogList-img
					img(src="img/product-img.jpg")
					.catalogList-img_overlay    
				.catalogList-info 
					h2.main-title Наименование товара
					p Viverra nulla ut metus varius laoreet. Quisque 
						b Aenean imperdiet.
					a(href="#").btn Перейти в раздел                       
