.footer
	.footer-item
		.footer-nav_block
			ul.footer-nav
				li
					a(href="#") Геологоразведочный<br> инструмент и оборудование
				li
					a(href="#") Сервис
				li
					a(href="#") оборудование <br>для нефтедобывающей<br> отрасли
			ul.footer-links
				li
					a(href="#") Алмазный инструмент
				li
					a(href="#") Бурильные, обсадные, <br>колонковые штанги	
				li
					a(href="#") Аварийный инструмент
				li
					a(href="#") Овершот	
				li
					a(href="#") Переходы
				li
					a(href="#") Ключи
				li
					a(href="#") Вспомогательный инструмент
				li
					a(href="#") Адвансер		
				li
					a(href="#") Труборезка		
				li
					a(href="#") Сальник		
				li
					a(href="#") Пробка-Вертлюг
				li
					a(href="#") Долото
		.footer-nav_block
			ul.footer-nav
				li
					a(href="#") химические реагенты<br> для бурения
				li
					a(href="#") О компании
				li
					a(href="#") Продукция
				li
					a(href="#") Новости	
			ul.footer-links
				li
					a(href="#") Бентонит
				li
					a(href="#") Полимеры
				li
					a(href="#") Смазка
				li
					a(href="#") Сорбенты
	.footer-item
		.footer-item_inner
			.footer-contact_title
				h3 Контакты:
				p 620100, Россия, г.Екатеринбург, <br>Бизнес Комплекс "Клевер-парк" 
			.footer-contact_info
				.footer-adress
					p 
						b Адрес
					span ул. Ткачей 23, офис 503
				p Тел./Факс:
				span +7(343)2-870-666
				p Email
				span senkrus@gmail.com
			.footer-social
				a(href="#")
					img(src="img/fb-icon.png")
				a(href="#")
					img(src="img/twitt.png")
				a(href="#")
					img(src="img/inst.png")
				a(href="#")
					img(src="img/g.png")

			.footer-copyright
				p © 2012 ООО «Сенкрус»
				p Копирование информации с сайта разрешено <br>только с письменного согласия администрации
				p 
					a(href="#").ipos-link
						span 
							img(src="img/ipos.png") 
						span Разработка и продвижение сайта

	.overlay

include footer-modals.pug
script(src="libs/jquery/jquery.min.js")
script(src="libs/OwlCarousel/owl.carousel.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript")
script(src="js/common.js")
