<div id="cube-loader">
	<div class="caption">
		<div class="cube-loader">
			<div class="cube loader-1"></div>
			<div class="cube loader-2"></div>
			<div class="cube loader-4"></div>
			<div class="cube loader-3"></div>
		</div>
	</div>
</div>
.header.headerActions
	include menu.pug
	.header-item.header-item_left
		.header-item_left__inner
			.header-logo
				img(src="img/header-logo.png")
			p.main-title Новости

	.header-item.header-item_right
		.header-item_right__inner
			.header-item_inner#contactHeader
				a(href="tel:3432870666").header-phone (343) 
					span 2-870-666
				a(href="mailto:senkrus@gmail.com").header-email 
					|e-mail: 
					span senkrus@gmail.com
			.header-item_inner.headerRight-box
				.header-main_search__item
					input(type="text")
				.header-catLink
					img(src="img/box-filled.png")    
				.hamburger.burger-actions.burger-main#hamburger
					span.line
					span.line
					span.line
