<div id="cube-loader">
	<div class="caption">
		<div class="cube-loader">
			<div class="cube loader-1"></div>
			<div class="cube loader-2"></div>
			<div class="cube loader-4"></div>
			<div class="cube loader-3"></div>
		</div>
	</div>
</div>
.headerContact
	include menu.pug
	.headerContact-container
		.headerContact-inner
			.headerContact-inner_item
				.header-logo
					img(src="img/header-logo.png")
				p.main-title Контакты
			.headerContact-inner_item#contactHeader
				p.headerContact-workT.hb-b
					b мы работаем  
					span с 9:00 - 23:00 <br> с пн-чт 
				a(href="tel:3432870666").header-phone.hw (343) 
					span 2-870-666
				a(href="mailto:senkrus@gmail.com").header-email.hb-b
					b e-mail: 
					span senkrus@gmail.com
			.headerContact-inner_item.headerRight-box.headerContact-search
				include search.pug
