<div id="cube-loader">
	<div class="caption">
		<div class="cube-loader">
			<div class="cube loader-1"></div>
			<div class="cube loader-2"></div>
			<div class="cube loader-4"></div>
			<div class="cube loader-3"></div>
		</div>
	</div>
</div>
.headerProdList.headerCompany
	include menu.pug
	.headerProdList-inner
		.headerProdList-item
			.header-item_inner#contactHeader
				a(href="tel:3432870666").header-phone (343) 
					span 2-870-666
				a(href="mailto:senkrus@gmail.com").header-email.hb-b 
					|e-mail: 
					span 
						b senkrus@gmail.com       
		.headerProdList-item
			.headerRight-box.headerRight-box_headerProdList
				.header-main_search__item
					input(type="text")
				.header-catLink
					a(href="#")
						img(src="img/box-filled.png")        
				.hamburger.burger-main#hamburger
					span.line
					span.line
					span.line
