.header-main
	.header-main_bg
	.header-main_df
		include menu.pug
		.header-main_inner.container.animated.bounceInDown
			.header-main_item
				nav
					ul
						li
							a(href='#').btn-link
								| Продукция
						li
							a(href='#').btn-link
								| Сервис
						li
							a(href='#').btn-link
								| О компании
						li
							a(href='#').btn-link
								| Новости
						li
							a(href='#').btn-link
								| Контакты
			.header-main_item
				#hidden
					a(href='#').header-main_actions
						span.line-l
						span.line-r
						|  Акция
				.header-main_search
					input(type="text")
				.header-main_phone
					a(href="tel:+3432870666")
						span (343) 
						|2-870-666
				.header-main_burger
					.hamburger.burger-main#hamburger
						span.line
						span.line
						span.line
		.container
			.header-main_logo
				p.animated.fadeInLeft
					span Company Group Senkrus 
					img(src="img/main-logo.png").main-logo.animated.fadeIn.delay-1s
	.arrow-mob
		.arrow
	.header-main_link.animated.bounceInUp
		a(href="#") геологоразведочный<br> инструмент и оборудование
			.arrow
		a(href="#") химические реагенты<br> для бурения
			.arrow
		a(href="#") Сервис
			.arrow
		a(href="#") оборудование для <br>нефтедобывающей отрасли
			.arrow
		a(href="#") раздел находится <br>в разработке
			.arrow
