.header-main
	.hidden-menu
		.hidden-menu_item
			.hamburger.hidden-menu_close.is-active#hamburger
				span.line
				span.line
				span.line
			.hidden-menu_phone
				a(href="tel:+3432870666")
					span (343) 
					| 2-870-666
			.hidden-menu_search
				.search-menu
					input(type="text")
			ul.hidden-menu_links
				li
					a(href="#") Заказать звонок
				li    
					a(href="#") Наши партнеры

		.hidden-menu_item
			ul.hidden-menu_nav
				li 
					a(href="#") О компании
				li
					a(href="#") Продукция
				li
					a(href="#") Новости
				li 
					a(href="#") Акции и скидки
			ul.hidden-menu_nav
				li 
					a(href="#") геологоразведочный <br>инструмент и оборудование
				li
					a(href="#") химические реагенты <br>для бурения
				li
					a(href="#") Сервис
				li 
					a(href="#") оборудование для <br>нефтедобывающей отрасли
				li 
					a(href="#") раздел находится<br> в разработке

		.hidden-menu_item
			.hidden-menu_social
				a(href="#")
					img(src="img/fb-icon.png")
				a(href="#")
					img(src="img/twitt-icon.png")
				a(href="#")
					img(src="img/inst-icon.png")
				a(href="#")
					img(src="img/g-icon.png")

	.header-main_inner.container
		.header-main_item
			nav
				ul
					li
						a(href='#').btn-link
							| Продукция
					li
						a(href='#').btn-link
							| Сервис
					li
						a(href='#').btn-link
							| О компании
					li
						a(href='#').btn-link
							| Новости
					li
						a(href='#').btn-link
							| Контакты
		.header-main_item
			a(href='#').header-main_actions
				span.line-l
				span.line-r
				|  Акция
			.header-main_search
				.search
					input.input(type="text")
					svg.magnifying-glass(viewBox="0 0 700 100")
						path.magnifying-glass-path(d="m 59.123035,59.123035 c -10.561361,10.56136 -27.684709,10.56136 -38.24607,0 -10.56136,-10.561361 -10.56136,-27.684709 0,-38.24607 10.561361,-10.56136 27.684709,-10.56136 38.24607,0 10.56136,10.561361 10.56136,27.684709 0,38.24607 l 28.876965,28.876965 c 6.304625,7.101523 5.754679,-0.187815 13.07143,-0.5 h 582.04101") 
						path.x(d="m 673.46803,25.714286 -37.17876,38.816532 c 0,0 -5.08857,5.60515 -5.68529,11.841734 -1.06622,11.143538 13.02902,11.127448 13.02902,11.127448")
						path.x(d="m 635.08021,25.714286 37.17876,38.816532 c 0,0 5.08857,5.60515 5.68529,11.841734 1.06622,11.143538 -13.02902,11.127448 -13.02902,11.127448")
					.overlay.overlay-1
					.overlay.overlay-2
			.header-main_phone
				a(href="tel:+3432870666")
					span (343) 
					|2-870-666
			.header-main_burger
				.hamburger.burger-main#hamburger
					span.line
					span.line
					span.line
	.container
		.header-main_logo
			p 
				|Company Group Senkrus 
				img(src="img/main-logo.png").main-logo

	.box
		svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%")
			line.top(x1="0" y1="0" x2="900" y2="0")
			line.left(x1="0" y1="460" x2="0" y2="-920")
			line.bottom(x1="300" y1="460" x2="-600" y2="460")
			line.right(x1="300" y1="0" x2="300" y2="1380")
		a(href="#") геологоразведочный инструмент и оборудование           
