.headerProdList
	include menu.pug
	.headerProdList-inner
		.headerProdList-item
			p.main-title Перечень товаров (название)        
		.headerProdList-item
			.headerRight-box.headerRight-box_headerProdList
				include search.pug
