.header-main
	.header-main_df
		.hidden-menu
			.hidden-menu_item
				.hamburger.hidden-menu_close.is-active#hamburger
					span.line
					span.line
					span.line
				.hidden-menu_phone
					a(href="tel:+3432870666")
						span (343) 
						| 2-870-666
				.hidden-menu_search
					.search-menu
						input(type="text")
				ul.hidden-menu_links
					li
						a(href="#") Заказать звонок
					li    
						a(href="#") Наши партнеры

			.hidden-menu_item
				ul.hidden-menu_nav
					li 
						a(href="#") О компании
					li
						a(href="#") Продукция
					li
						a(href="#") Новости
					li 
						a(href="#") Акции и скидки
				ul.hidden-menu_nav
					li 
						a(href="#") геологоразведочный <br>инструмент и оборудование
					li
						a(href="#") химические реагенты <br>для бурения
					li
						a(href="#") Сервис
					li 
						a(href="#") оборудование для <br>нефтедобывающей отрасли
					li 
						a(href="#") раздел находится<br> в разработке

			.hidden-menu_item
				.hidden-menu_social
					a(href="#")
						img(src="img/fb-icon.png")
					a(href="#")
						img(src="img/twitt-icon.png")
					a(href="#")
						img(src="img/inst-icon.png")
					a(href="#")
						img(src="img/g-icon.png")

		.header-main_inner.container.animated.bounceInDown
			.header-main_item
				nav
					ul
						li
							a(href='#').btn-link
								| Продукция
						li
							a(href='#').btn-link
								| Сервис
						li
							a(href='#').btn-link
								| О компании
						li
							a(href='#').btn-link
								| Новости
						li
							a(href='#').btn-link
								| Контакты
			.header-main_item
				a(href='#').header-main_actions
					span.line-l
					span.line-r
					|  Акция
				.header-main_search
					.header-main_search__item
						input(type="text")
				.header-main_phone
					a(href="tel:+3432870666")
						span (343) 
						|2-870-666
				.header-main_burger
					.hamburger.burger-main#hamburger
						span.line
						span.line
						span.line
		.container
			.header-main_logo
				p.animated.fadeInLeft
					span Company Group Senkrus 
					img(src="img/main-logo.png").main-logo.animated.fadeIn.delay-1s
	.arrow-mob
		.arrow
	.header-main_link.animated.bounceInUp
		a(href="#") геологоразведочный<br> инструмент и оборудование
			.arrow
		a(href="#") химические реагенты<br> для бурения
			.arrow
		a(href="#") Сервис
			.arrow
		a(href="#") оборудование для <br>нефтедобывающей отрасли
			.arrow
		a(href="#") раздел находится <br>в разработке
			.arrow
