.header.header-page
	include menu.pug
	.header-item.header-item_left
		.header-logo
			img(src="img/header-logo.png")
		p.main-title геологоразведочный инструмент и оборудование 

	.header-item.header-item_right
		.header-item_right__inner
			.header-item_inner#contactHeader
				a(href="tel:3432870666").header-phone (343) 
					span 2-870-666
				a(href="mailto:senkrus@gmail.com").header-email 
					|e-mail: 
					span senkrus@gmail.com
			.header-item_inner.headerRight-box
				include search.pug
