.hidden-menu
	.hidden-menu_item
		.hamburger.hidden-menu_close.is-active#hamburger
			span.line
			span.line
			span.line
		.hidden-menu_phone
			a(href="tel:+3432870666")
				span (343) 
				| 2-870-666
		.hidden-menu_search
			.search-menu
				input(type="text")
		ul.hidden-menu_links
			li
				a(href="#").hidden-menu_recallBtn Заказать звонок
			li    
				a(href="#") Наши партнеры

	.hidden-menu_item
		.hidden-menu_form
			.form-thanks
				p Спасибо!
				span Наши менеджеры свяжутся с вами
			form
				p.main-title Заполните поля,<br> Наши менеджеры 
					span бесплатно 
					|проконсультируют вас
				.contactRecall-inp
					label
						input(type="text" placeholder="Имя*" required)
					label        
						input(type="text" placeholder="Телефон*" required)
				.contactRecall-text
					textarea(placeholder="Добавить комментарий")            
				.capcha
					img(src="img/capcha.png")
				.privacy
					|Нажав на кнопку “заказать обратный звонок” Вы
					|соглашаетесь с условиями 
					a(href="#") публичной оферты 
					|и с условиями 
					a(href="#") Политики обработки персональных данных
				button(type="submit").form-btn.btn Заказать обратный звонок                
		.hidden-menu_tabNav      
			ul.hidden-menu_nav
				li 
					a(href="#") О компании
				li
					a(href="#") Продукция
				li
					a(href="#") Новости
				li 
					a(href="#") Акции и скидки
			ul.hidden-menu_nav
				li 
					a(href="#") геологоразведочный <br>инструмент и оборудование
				li
					a(href="#") химические реагенты <br>для бурения
				li
					a(href="#") Сервис
				li 
					a(href="#") оборудование для <br>нефтедобывающей отрасли
				li 
					a(href="#") раздел находится<br> в разработке

	.hidden-menu_item
		.hidden-menu_social
			a(href="#").fb-link
				img(src="img/fb-icon-g.png").fb-g
				img(src="img/fb-icon.png").fb-b

			a(href="#").twitt-link
				img(src="img/twitt-icon.png").twitt-g
				img(src="img/twitt-icon-b.png").twitt-b

			a(href="#").inst-link
				img(src="img/inst-icon.png").inst-g
				img(src="img/inst-icon-b.png").inst-b

			a(href="#").google-link
				img(src="img/g-icon.png").google-g
				img(src="img/g-icon-b.png").google-b
